body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    backdrop-filter: blur(10px) brightness(50%);
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 10px;
    height: 50px;
    align-items: center;
    font-size: 20px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
}
.navbar > * {
    margin-left: 10px;
}
a {
    text-decoration: none;
    color: white;
    background-color: #0077d5;
    border-radius: 5px;
    padding: 5px;
    transition-duration: 0.4s;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
    background-color: white;
    color: black;
    transition-duration: 0.4s;
}
.button {
    position: relative;
    background-color: #0087f5;
    font-size: 30px;
    margin: 15px;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    transition: 0.4s;
}
.button > img {
    position: relative;
    bottom: 30px
}
.button:hover {
    background-color: #ccc;
    transform: translateY(-10px);
    transition: 0.4s;
}